* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f1f1;
}

h1 {
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2rem;
    background-color: #f6f8fc;
    border-radius: 1rem;
    
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}